# Configuration of the camera
camera :
{
    resolution = { width = 800.0; height = 800.0; };
    position = { x = -2.0; y = 5.0; z = -25.0; };
    rotation = { x = 0.0; y = 0.0; z = 0.0; };
    fieldOfView = 110.0; # In degree
    superSampling = 8;
    recursionDepth = 20;
};
#  materials
# Primitives in the scene
textures :
{
    chessBoard1 = { name = "plastic-chessBoard"; type="chessBoard"; material1 = "plastic"; material2 = "plastic"; color1 = { r = 200.0; g = 200.0; b = 200.0; }; color2 = { r = 25.0; g = 25.0; b = 25.0; }; };
    chessBoard2 = { name = "chrome-chessBoard"; type = "chessBoard"; material1 = "chrome"; material2 = "chrome"; color1 = {r = 200.0; g = 200.0; b = 200.0; }; color2 = { r = 25.0; g = 25.0; b = 25.0; }; };
    redChrome1 = { name = "red-chrome"; type="solo"; material = "chrome"; color = { r = 255.0; g = 10.0; b = 10.0; }; };
    blueChrome1 = { name = "blue-chrome"; type="solo" material = "chrome"; color = { r = 10.0; g = 10.0; b = 255.0; }; };
    whitePlastic1 = { name = "white-plastic"; type="solo"; material = "plastic"; color = { r = 240.0; g = 240.0; b = 240.0 }; };
    bluePlastic1 = { name = "blue-plastic"; type="solo"; material = "plastic"; color = { r = 10.0; g = 10.0; b = 255.0 }; };
    emerald = { name = "emerald-mat"; type="solo"; material = "emerald"; color = { r = 200.0; g = 200.0; b = 200.0 }; };
}

primitives :
{
    # List of spheres
    spheres = (
        { x = 4.0; y = 4.0; z = -10.0; r = 4.0; texture = "red-chrome"; },
        { x = 0.0; y = 2.0; z = -13.0; r = 1.0; texture = "white-plastic"; },
        { x = -10.0; y = 4.0; z = -11.0; r = 4.0; texture = "emerald-mat"; }
    ) ;
    # List of planes
    planes = (
        { x = 0.0; y = 0.0; z = 0.0; normal = { x = 0.0; y = 1.0; z = 0.0; }; texture = "plastic-chessBoard"; }
    ) ;
    # List of cylinder
    cylinders = (
        { x = -5.0; y = 10.0; z = -15.0; r = 2.0; l = 3.0; texture = "blue-plastic"; }
    ) ;
    # List of cones
    cones = (
        { x = 0.0; y = 5.0; z = -15.0; r = 2.0; l = 6.0; texture = "basic"; axe = {x = 0.0; y = 0.0; z = 1.0;}; angle = 0.0; }
    ) ;
    #
    obj-files = (
        { x = 2.0; y = 2.0; z = -18.0; path = "scenes/cube.obj"; texture = "white-plastic"; }
    )
};
# Light configuration
lights :
{
    ambient = 0.2; # Multiplier of ambient light
    diffuse = 0.6; # Multiplier of diffuse light
    # List of point lights
    point = (
    { x = -2.0; y = 5.0; z = -35.0; intensity = {x = 130.0; y = 130.0; z = 130.0;} }
    ) ;
    # List of directional lights
directional = () ;
};
#
includes :
{
}